/* Defaults
---------------------------------------------------------------------------- */

/* Fonts
--------------------------------------------- */
@font-face {
	font-family: 'DIN Pro';
	src: url("assets/fonts/DIN2014-Regular/font.woff2") format("woff2"); 
	src: url("assets/fonts/DIN2014-Regular/font.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DIN Pro';
	src: url("assets/fonts/DIN2014-Italic/font.woff2") format("woff2"); 
	src: url("assets/fonts/DIN2014-Italic/font.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'DIN Pro';
	src: url("assets/fonts/DIN2014-Bold/font.woff2") format("woff2"); 
	src: url("assets/fonts/DIN2014-Bold/font.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'DIN Pro';
	src: url("assets/fonts/DIN2014-BoldItalic/font.woff2") format("woff2"); 
	src: url("assets/fonts/DIN2014-BoldItalic/font.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro Black';
	src: url("assets/fonts/DIN2014-ExtraBold/font.woff2") format("woff2"); 
	src: url("assets/fonts/DIN2014-ExtraBold/font.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}


@font-face {
  font-family: "walker-timber";
  src: url("assets/fonts/walker-timber.eot");
  src: url("assets/fonts/walker-timber.eot?k8xk3v#iefix") format("embedded-opentype"),
      url("assets/fonts/walker-timber.woff2?k8xk3v") format("woff2"),
      url("assets/fonts/walker-timber.woff?k8xk3v") format("woff"),
      url("assets/fonts/walker-timber.ttf?k8xk3v") format("truetype"),
      url("assets/fonts/walker-timber.svg?k8xk3v#walker-timber") format("svg");
  font-style: normal;
  font-weight: 400;
}

.icon {
  display: inline-block;
  font-family: "walker-timber" !important;
  font-size: 8px;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-arrow-down::before {
  content: "\ea01";
}
.icon-arrow-right::before {
  content: "\ea02";
}


/* Typographical Elements
--------------------------------------------- */

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: $white;
	color: $black;
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: 400;
	line-height: $base-line-height;
	margin: 0;
	overflow-x: hidden;
}

a {
	color: $black;
	font-weight: 600;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

a:focus,
a:hover {
	color: $yellow;
}

p {
	margin: 0 0 20px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

hr {
	border: none;
	border-collapse: collapse;
	border-top: 1px solid $light-grey;
	clear: both;
	margin: 20px 0;
}

b,
strong {
	font-weight: 600;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

mark {
	background: $light-grey;
	color: $black;
}

blockquote {
	margin: 20px;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	margin: 0 0 20px;
}

h1 {
	font-family: $black-font-family;
	font-size: 36px;
	line-height: 44px;
	font-weight: 600;
	text-transform: uppercase;
}

h2 {
	font-family: $base-font-family;
	font-size: 28px;
	line-height: 34px;
}

h3 {
	font-family: $base-font-family;
	font-size: 24px;
	line-height: 30px;
}

h4 {
	font-family: $black-font-family;
	font-size: 16px;
	line-height: 26px;
	font-weight: 600;
	margin-bottom: 0;
	text-transform: uppercase;
}

h5 {
	font-family: $base-font-family;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 0;
	font-style: italic;
}

h6 {
	font-family: $black-font-family;
	font-size: 11px;
	line-height: 16px;
	color: $yellow;
	font-weight: 600;
	text-transform: uppercase;

	&.feature-lg {
		font-size: 21px;
	}
}

.black {
	font-family: $black-font-family;
	font-weight: 600;
	text-transform: uppercase;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
	vertical-align: top;
}

figure {
	margin: 0;
}

/* Gallery
--------------------------------------------- */

.gallery {
	overflow: hidden;

	img {
		height: auto;
		padding: 4px;
	}

	img:focus,
	img:hover {
		outline: none;
	}
}

.gallery-columns-1 .gallery-item {
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}

.gallery-item {
	float: left;
	margin: 0 0 20px;
	text-align: center;
}

/* Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 20px;
	width: 100%;
	word-break: break-all;
}

tbody {
	border-bottom: 1px solid $light-grey;
}

td,
th {
	text-align: left;
}

td {
	border-top: 1px solid $light-grey;
	padding: 6px;
}

th {
	font-weight: 400;
	padding: 0 6px;
}

td:first-child,
th:first-child {
	padding-left: 0;
}


/* Common Classes
---------------------------------------------------------------------------- */

/* Genesis
--------------------------------------------- */

.after-entry,
.archive-description,
.author-box {
	margin-bottom: 0;
}

.after-entry .widget:last-of-type {
	margin-bottom: 0;
}

.breadcrumb {
	font-size: 16px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}


/* Titles
--------------------------------------------- */

.archive-description .entry-title,
.archive-title,
.author-box-title {
	margin-bottom: 15px;
}

.entry-title {
	margin-bottom: 15px;
}

.entry-title a,
.sidebar .widget-title a {
	color: $black;
	font-weight: 400;
	text-decoration: none;
}

.entry-title a:focus,
.entry-title a:hover {
	color: $yellow;
	text-decoration: underline;
}

.widget-title {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
}

/* WordPress
--------------------------------------------- */

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 20px;
}

img.alignnone,
.alignnone {
	margin-bottom: 15px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 20px 20px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 20px 20px;
}

.gallery-caption,
.wp-caption-text {
	font-size: 14px;
	font-weight: 600;
	margin: 0;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
	margin: 0 0 20px;
}

/* Widgets
---------------------------------------------------------------------------- */

.widget {
	margin-bottom: 40px;
}

.widget p:last-child,
.widget ul > li:last-of-type {
	margin-bottom: 0;
}

.widget ul > li {
	margin-bottom: 10px;
}

.widget ul > li:last-of-type {
	padding-bottom: 0;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.widget li li {
	border: 0;
	margin: 0 0 0 20px;
	padding: 0;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}
