/* Content Area
---------------------------------------------------------------------------- */
.archive .content,
.featured-menu {
	.entry {
		width: 100%;
		max-width: 640px;
	    margin-left: auto;
	    margin-right: auto;

		.entry-content {
			padding-right: 30px;
		}
	}

	img {
		width: 100%;
		margin-bottom: 15px;
	}
}


.entry-content .certifications {
	.certification {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 30px;

		img {
			margin-right: 30px;
		}

		a {
			font-weight: 400;
		}
	}
}

@media only screen and (min-width: $small-screen) {
	.archive .content,
	.full-width-content .featured-menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.entry {
			width: 49.5%;
			margin-left: initial;
	    	margin-right: initial;
		}		
	}
	.entry-content .certifications .certification {
			img {
				margin-right: 60px;
			}
		}
}


/* Entry Content
--------------------------------------------- */

.entry {
	margin-bottom: 30px;
}

.entry-content {
	ol,
	ul {
		margin-bottom: 20px;
		padding-left: 40px;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	ol ul > li,
	ul ul > li {
		list-style-type: circle;
	}

	ol ol,
	ul ul {
		margin-bottom: 0;
	}

	code {
		background-color: $light-grey;
	}
}

.content .sticky {
	background-color: $light-grey;
	padding: 30px;
}

/* Entry Meta
--------------------------------------------- */

p.entry-meta {
	font-size: 14px;
	margin-bottom: 0;
}

.entry-header .entry-meta {
	margin-bottom: 20px;
}

.entry-footer .entry-meta {
	padding-top: 20px;
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

/* Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 20px 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination {
	li {
		display: inline;

		a {
			background-color: $light-grey;
			color: #333;
			cursor: pointer;
			display: inline-block;
			font-size: 15px;
			font-weight: 600;
			margin-bottom: 4px;
			padding: 8px 12px;
			text-decoration: none;
		}
	}

	li a:focus,
	li a:hover,
	li.active a {
		background-color: $black;
		color: $white;
	}
}