/* Contact block
---------------------------------------------------------------------------- */

.contact-block {
	i {
		margin-right: 8px;
	}

	i.fas.fa-envelope {
	    float: left;
	    display: inline-block;
	    margin-top: 0.4em;
	}

	.address {
	    float: left;
	    display: inline-block;
	}
}