/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: $white;
	border: 1px solid $yellow;
	color: $black;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	padding: 8px 15px 6px;
	width: 100%;
}

input:focus,
textarea:focus {
	background-color: $yellow;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-ms-input-placeholder {
	color: $black;
	opacity: 1;
}

:-ms-input-placeholder {
	color: $black;
	opacity: 1;
}

::placeholder {
	color: $black;
	opacity: 1;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: $white;
	border: 1px solid $yellow;
	border-radius: 0;
	color: $black;
	cursor: pointer;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	padding: 9px 13px 7px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: normal;
	width: auto;
}

button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.button:focus,
.button:hover {
	background-color: $yellow;
	color: $black;
}

button.solid,
input[type="button"].solid,
input[type="reset"].solid,
input[type="submit"].solid,
.button.solid {
	background-color: $yellow;
	color: $black;
}

button:focus.solid,
button:hover.solid,
input[type="button"]:focus.solid,
input[type="button"]:hover.solid,
input[type="reset"]:focus.solid,
input[type="reset"]:hover.solid,
input[type="submit"]:focus.solid,
input[type="submit"]:hover.solid,
.button:focus.solid,
.button:hover.solid {
	background-color: $white;
	color: $black;
}

button.arrow-right::after,
input[type="button"].arrow-right::after,
input[type="reset"].arrow-right::after,
input[type="submit"].arrow-right::after,
.button.arrow-right::after,
.arrow-right .wp-block-button__link::after {
	padding-left: 30px;
	font-size: 8px;
	display: inline-block;
	font-family: "walker-timber";
	content: "\ea02";
	line-height: 1;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



.entry-content .button:focus,
.entry-content .button:hover {
	color: $black;
}

.button {
	display: inline-block;
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
	background-color: $light-grey;
	border-width: 0;
	color: $light-grey;
	cursor: not-allowed;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}



/* Ninja Forms adjustments
--------------------------------------------- */

.site-container {

	.wp-block-ninja-forms-form {
		max-width: 670px;
		margin: 0 auto;
	}

	.nf-form-fields-required {
		display: none;
	}

	#ninja_forms_required_items, .nf-field-container {
	    margin-bottom: 10px;
	}

	.nf-form-cont .one-half, .nf-form-cont .three-sixths, .nf-form-cont .two-fourths {
	    width: 49.5%;
	}

	.nf-form-cont .five-sixths, .nf-form-cont .four-sixths, .nf-form-cont .one-fourth, .nf-form-cont .one-half, .nf-form-cont .one-sixth, .nf-form-cont .one-third, .nf-form-cont .three-fourths, .nf-form-cont .three-sixths, .nf-form-cont .two-fourths, .nf-form-cont .two-sixths, .nf-form-cont .two-thirds {
	    margin-left: 1%;
	}

	.nf-form-cont .first {
	    margin-left: 0;
	}

	.nf-field-label label {
		font-size: 11px;
		line-height: 14px;
	    font-weight: 500;
	    text-align: left;
	}

	.field-wrap input[type=button] {
	    width: 100%;
	}

	input[type=button] {
		background-color: $yellow;
		color: $black;
	}

	input[type=button]:focus,
	input[type=button]:hover {
		background-color: $white;
		color: $black;
	}
}





/* Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
}

.entry-content .search-form {
	margin-bottom: 40px;
	width: 50%;
}

.post-password-form input[type="submit"],
.search-form input[type="submit"] {
	margin-top: 10px;
}

.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}