/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: $white;
	border: 1px solid $yellow;
	color: $black;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	padding: 9px 15px 7px;
	width: 100%;
}

select {
	appearance: initial;
}


input:focus,
textarea:focus {
	background-color: $yellow;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-ms-input-placeholder {
	color: $black;
	opacity: 1;
}

:-ms-input-placeholder {
	color: $black;
	opacity: 1;
}

::placeholder {
	color: $black;
	opacity: 1;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: $white;
	border: 1px solid $yellow;
	border-radius: 0;
	color: $black;
	cursor: pointer;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	padding: 9px 13px 7px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: normal;
	width: auto;
}

button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.button:focus,
.button:hover {
	background-color: $yellow;
	color: $black;
}

button.solid,
input[type="button"].solid,
input[type="reset"].solid,
input[type="submit"].solid,
.button.solid {
	background-color: $yellow;
	color: $black;
}

button:focus.solid,
button:hover.solid,
input[type="button"]:focus.solid,
input[type="button"]:hover.solid,
input[type="reset"]:focus.solid,
input[type="reset"]:hover.solid,
input[type="submit"]:focus.solid,
input[type="submit"]:hover.solid,
.button:focus.solid,
.button:hover.solid {
	background-color: $white;
	color: $black;
}

button.arrow-right::after,
input[type="button"].arrow-right::after,
input[type="reset"].arrow-right::after,
input[type="submit"].arrow-right::after,
.button.arrow-right::after,
.arrow-right .wp-block-button__link::after {
	padding-left: 30px;
	font-size: 8px;
	display: inline-block;
	font-family: "walker-timber";
	content: "\ea02";
	line-height: 1;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



.entry-content .button:focus,
.entry-content .button:hover {
	color: $black;
}

.button {
	display: inline-block;
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
	background-color: $light-grey;
	border-width: 0;
	color: $light-grey;
	cursor: not-allowed;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}



/* Ninja Forms adjustments
--------------------------------------------- */

.site-container {

	.wp-block-ninja-forms-form {
		max-width: 670px;
		margin: 0 auto;
	}

	.nf-form-fields-required {
		display: none;
	}

	#ninja_forms_required_items, .nf-field-container {
	    margin-bottom: 10px;
	}

	.nf-form-cont .one-half, .nf-form-cont .three-sixths, .nf-form-cont .two-fourths {
	    width: 49.5%;
	}

	.nf-form-cont .five-sixths, .nf-form-cont .four-sixths, .nf-form-cont .one-fourth, .nf-form-cont .one-half, .nf-form-cont .one-sixth, .nf-form-cont .one-third, .nf-form-cont .three-fourths, .nf-form-cont .three-sixths, .nf-form-cont .two-fourths, .nf-form-cont .two-sixths, .nf-form-cont .two-thirds {
	    margin-left: 1%;
	}

	.nf-form-cont .first {
	    margin-left: 0;
	}

	.nf-field-label label {
		font-size: 11px;
		line-height: 14px;
	    font-weight: 500;
	    text-align: left;
	}

	.field-wrap input[type=button] {
	    width: 100%;
	}

	input[type=button] {
		background-color: $yellow;
		color: $black;
	}

	input[type=button]:focus,
	input[type=button]:hover {
		background-color: $white;
		color: $black;
	}

	@supports(-webkit-appearance: none) or (-moz-appearance: none) {
		  input[type='checkbox'],
		  input[type='radio'] {
		    --active: #000000;
		    --active-inner: #ffd100;
		    --focus: 2px rgba(39, 94, 254, .3);
		    --border: #000000;
		    --border-hover: #275EFE;
		    --background: #fff;
		    --disabled: #F6F8FF;
		    --disabled-inner: #E1E6F9;
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    height: 21px;
		    outline: none;
		    display: inline-block;
		    vertical-align: top;
		    position: relative;
		    margin: 0;
		    cursor: pointer;
		    border: 1px solid #ffd100;
		    background: #ffffff;
		    &:after {
		      content: '';
		      display: block;
		      left: 0;
		      top: 0;
		      position: absolute;
		      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
		    }
		    &:checked {
		      --b: var(--active);
		      --bc: var(--active);
		      --d-o: .3s;
		      --d-t: .6s;
		      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
		    }
		    &:disabled {
		      --b: var(--disabled);
		      cursor: not-allowed;
		      opacity: .9;
		      &:checked {
		        --b: var(--disabled-inner);
		        --bc: var(--border);
		      }
		      & + label {
		        cursor: not-allowed;
		      }
		    }
		    &:hover {
		      &:not(:checked) {
		        &:not(:disabled) {
		          --bc: var(--border-hover);
		        }
		      }
		    }
		    &:focus {
		      box-shadow: 0 0 0 var(--focus);
		    }
		    &:not(.switch) {
		      width: 21px;
		      &:after {
		        opacity: var(--o, 0);
		      }
		      &:checked {
		        --o: 1;
		      }
		    }
		  }
		  input[type='checkbox'] {
		    &:not(.switch) {
		      &:after {
		        width: 8px;
		        height: 14px;
		        border: 2px solid var(--active-inner);
		        border-top: 0;
		        border-left: 0;
		        left: 5px;
		        top: 1px;
		        transform: rotate(var(--r, 20deg));
		      }
		      &:checked {
		        --r: 43deg;
		      }
		    }
		    &.switch {
		      width: 38px;
		      border-radius: 11px;
		      &:after {
		        left: 2px;
		        top: 2px;
		        border-radius: 50%;
		        width: 15px;
		        height: 15px;
		        background: var(--ab, var(--border));
		        transform: translateX(var(--x, 0));
		      }
		      &:checked {
		        --ab: var(--active-inner);
		        --x: 17px;
		      }
		      &:disabled {
		        &:not(:checked) {
		          &:after {
		            opacity: .6;
		          }
		        }
		      }
		    }
		  }
		  input[type='radio'] {
		    border-radius: 50%;
		    &:after {
		      width: 19px;
		      height: 19px;
		      border-radius: 50%;
		      background: var(--active-inner);
		      opacity: 0;
		      transform: scale(var(--s, .7));
		    }
		    &:checked {
		      --s: .5;
		    }
		  }
		}
}





/* Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
}

.entry-content .search-form {
	margin-bottom: 40px;
	width: 50%;
}

.post-password-form input[type="submit"],
.search-form input[type="submit"] {
	margin-top: 10px;
}

.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}