/* Screen Reader Text
--------------------------------------------- */

.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.widget_search input[type="submit"]:focus {
	background: $white;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: $black;
	display: block;
	font-size: 1em;
	font-weight: 700;
	height: auto;
	padding: 15px 23px 14px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.more-link {
	display: inline-block;
	position: relative;
}


/* Skip Links
---------------------------------------------------------------------------- */

.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link .skip-link-hidden {
	display: none;
	visibility: hidden;
}

.genesis-skip-link li {
	height: 0;
	list-style: none;
	width: 0;
}

/* Display outline on focus */
:focus {
	color: $black;
	outline: $light-grey solid 1px;
}



/* Site Navigation
---------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	line-height: 1;
	width: 100%;

	.menu-item {
		display: block;
		float: none;
		position: relative;

		@media only screen and (min-width: $small-screen) {
			display: inline-block;
		}
	}

	a {
		color: $black;
		display: block;
		font-size: 14px;
		line-height: 18px;
		font-weight: 600;
		outline-offset: -1px;
		padding-bottom: 4px;
		padding-top: 4px;
		text-decoration: none;
		text-transform: uppercase;
		border: 1px solid $white;
	}	

	a:focus,
	a:hover,
	.current-menu-item > a,
	.sub-menu .current-menu-item > a:focus,
	.sub-menu .current-menu-item > a:hover {
		border: 1px solid $yellow;
		text-decoration: none;
	}

	.sub-menu,
	.sub-menu a {
		width: 100%;

		@media only screen and (min-width: $small-screen) {
			width: 180px;
		}
	}

	.sub-menu {
		clear: both;
		display: none;
		left: -9999px;
		margin: 0;
		opacity: 1;
		padding-left: 15px;
		position: static;
		z-index: 99;

		@media only screen and (min-width: $small-screen) {
			opacity: 0;
			padding-left: 0;
			position: absolute;
			transition: opacity 0.4s ease-in-out;
		}

		a {
			background-color: $white;
			font-size: 14px;
			position: relative;
			word-wrap: break-word;

			@media only screen and (min-width: $small-screen) {
				border-top: 0;
				padding-bottom: 15px;
				padding-top: 15px;
			}
		}
	}

	.menu-item:focus,
	.menu-item:hover {
		position: relative;
	}

	.menu-item:hover > .sub-menu {
		display: block;
		left: auto;
		opacity: 1;
	}

	@media only screen and (min-width: $small-screen) {
		& > .menu-bold > a {
			font-weight: 700;
		}

		& > .menu-highlight > a {
			background-color: $black;
			border-radius: 3px;
			color: $white;
			font-weight: 600;
			margin-left: 15px;
			padding-left: 20px;
			padding-right: 20px;
		}

		& > .menu-highlight > a:focus,
		& > .menu-highlight > a:hover {
			background-color: $yellow;
		}

		.sub-menu .sub-menu {
			margin: -46px 0 0 179px;
		}
	}
}



/* Responsive Menu
--------------------------------------------- */

.menu {
	.menu-item:focus {
		position: static;
	}

	.menu-item > a:focus + ul.sub-menu,
	.menu-item.sfHover > ul.sub-menu {
		left: auto;
		opacity: 1;
	}
}


.genesis-responsive-menu {
	display: none;
	position: relative;

	@media only screen and (min-width: $small-screen) {
		display: block;
		padding-top: 15px;
	}

	.genesis-nav-menu .menu-item:hover > .sub-menu {
		display: none;

		@media only screen and (min-width: $small-screen) {
			display: block;
		}
	}
}


.menu-toggle,
.sub-menu-toggle {
	background-color: transparent;
	border-width: 0;
	color: $black;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	visibility: visible;

	@media only screen and (min-width: $small-screen) {
		display: none;
		visibility: hidden;
	}
}

.menu-toggle:focus,
.menu-toggle:hover,
.sub-menu-toggle:focus,
.sub-menu-toggle:hover {
	background-color: transparent;
	border-width: 0;
	color: $yellow;
}

.menu-toggle {
	float: right;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 15px 0;
	position: relative;
	z-index: 1000;
}

.site-header .menu-toggle::before {
	float: left;
	margin-right: 5px;
	position: relative;
	text-rendering: auto;
	top: 1px;
}

.sub-menu-toggle {
	float: right;
	padding: 9px 10px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.sub-menu .sub-menu-toggle {
	padding: 12px 10px;
}

.sub-menu-toggle::before {
	display: inline-block;
	text-rendering: auto;
	transform: rotate(0);
	transition: transform 0.25s ease-in-out;
}

.sub-menu-toggle.activated::before {
	transform: rotate(180deg);
}


/* Hamburgers
--------------------------------------------- */
.hamburger {
	height: 56px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0 10px;
	overflow: visible; 

	@media only screen and (min-width: $small-screen) {
		display: none;
	}
}

.hamburger:hover {
    opacity: 0.7; 
}

.hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative; 
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px; 
}

.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
}

.hamburger-inner::before, 
.hamburger-inner::after {
    content: "";
    display: block; 
}

.hamburger-inner::before {
    top: -10px; 
}

.hamburger-inner::after {
    bottom: -10px; 
}

/* Elastic
--------------------------------------------- */
.hamburger--elastic .hamburger-inner {
	top: 2px;
	transition-duration: 0.275s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}

.hamburger--elastic .hamburger-inner::before {
	top: 10px;
	transition: opacity 0.125s 0.275s ease; 
}

.hamburger--elastic .hamburger-inner::after {
	top: 20px;
	transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}

.hamburger--elastic.activated .hamburger-inner {
	transform: translate3d(0, 10px, 0) rotate(135deg);
	transition-delay: 0.075s; 
}

.hamburger--elastic.activated .hamburger-inner::before {
	transition-delay: 0s;
	opacity: 0; 
}

.hamburger--elastic.activated .hamburger-inner::after {
	transform: translate3d(0, -20px, 0) rotate(-270deg);
	transition-delay: 0.075s; 
}




/* Header Menu
--------------------------------------------- */

.nav-primary {
	clear: left;
	padding-bottom: 0;
	padding-top: 0;
	width: 100%;

	@media only screen and (min-width: $small-screen) {
		clear: none;
		float: right;
		width: auto;

		.genesis-nav-menu a {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

.site-header .menu-cta {
	float: left;
	margin: 10px 0;

	@media only screen and (min-width: $small-screen) {
		float: right;
		margin: 0;
	}
}

/* Footer Menu
--------------------------------------------- */

.nav-secondary {
	margin: 0 10px;

	a {
		margin-left: 10px;
		margin-right: 10px;
		padding: 0;
		font-size: 12px;
		line-height: 12px;
		font-weight: 400;
		text-transform: none;
		text-decoration: underline;
		border: none;
	}

	a:focus,
	a:hover,
	.current-menu-item > a,
	.sub-menu .current-menu-item > a:focus,
	.sub-menu .current-menu-item > a:hover {
		border: none;
		color: $yellow;
		text-decoration: underline;
	}

	@media only screen and (min-width: $small-screen) {
		display: inline-block;

		.menu-item {
			display: inline-block;
			border-left: 1px solid $white;
		}

	}
}

/* Sidebar Menu
--------------------------------------------- */

.child-menu {
	margin-bottom: 30px;
}

.image-menu {
	margin-top: 30px;

	img {
		width: 100%;
	}

	a {
		text-decoration: none;
	}
}

.title-block {
	background-color: $black;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	h3 {
		font-size: 18px;
		color: $white;
		margin-bottom: 0;
	}

	button {
		min-width: 142px;
		margin-left: 20px;
	}
}


/* Home featured links
--------------------------------------------- */

.featured-links {
	margin: 30px 0 120px;

	a {
		display: block;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	.feature {
		display: block;
		width: 100%;
		max-width: 640px;
		position: relative;
		margin: 0 auto;
	}

	.feature img {
		position: relative;
		width: 100%;
	}

	.feature-overlay {
		width: 100%;
		padding: 30px;
		margin: 0;
		background-color: $black;
		display: flex;
		flex-direction: column;
	}

	h6 {
		margin-bottom: 10px;
	}

	p {
		font-size: 28px;
		line-height: 34px;
		color: $white;
		font-weight: 400;
	}

	a.button {
		margin-top: auto;
		width: fit-content;
	}

	@media only screen and (min-width: 640px) {

		.feature-overlay {
			position: absolute;
			left: 0;
			bottom: 0;
			top: 0;
			width: 50%;
			height: calc(100% - 60px);
			margin: 30px 0;
			background-color: $black-overlay;
		}
	}

	@media only screen and (min-width: 1280px) {

		.feature {
			width: 50%;
			float: left;
		}
	}
}


/* Pre-Footer Sections
--------------------------------------------- */
.pre-footer-section {
	clear: both;
    margin: 120px auto 0;
    padding: 30px 20px 0;
    max-width: 1084px;

	h6 {
		text-align: center;
	}

	.certifications {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}

	.certification {
		width: 50%;
		padding: 20px;

		img {
			display: block;
			margin: 0 auto 15px;
		}

		a {
			font-weight: 400;
		}
	}

	@media only screen and (min-width: $small-screen) {
		.certification {
			width: 25%;
			padding: 40px;
		}
	}
}





/* CTAs
--------------------------------------------- */

.cta-callback {
	text-align: center;
	color: $white;
	background-color: $black;
	margin-top: 120px;

	.wrap {
		max-width: 420px;
		padding: 20px;
		margin: 60px auto;
	}

	h3 {
		font-size: 36px;
		line-height: 44px;
	}
}

.cta-sidebar {
	text-align: center;
	padding: 30px;
	margin-bottom: 30px;
	color: $white;
	background-color: $black;

	form {
		margin-bottom: 60px;
	}

	.nf-field-label label {
	    margin-bottom: 30px;
	}

	.button {
		width: 100%;
		margin-top: 10px;
	}
}
