//
// Breakpoints
// ========================

$biggest-screen: 1600px;
$bigger-screen: 1340px;
$big-screen: 1200px;
$medium-screen: 1023px;
$small-screen: 960px;
$smaller-screen: 480px;
$smallest-screen: 320px;


//
// Default and Brand Colors
// ============================

$white: #fff;
$black: #000;
$yellow: #ffd100;
$black-overlay: rgba(0,0,0,0.85);
$light-grey: #eeeeee;
$red: #c3251d;


//
// Typography
// ============================
$base-font-family: 'DIN Pro', 'Tahoma', 'Geneva', sans-serif;
$base-font-size: 16px;
$base-line-height: 26px;

$black-font-family: 'DIN Pro Black', 'Tahoma', 'Geneva', sans-serif;